<div class="uk-flex-inline uk-flex-center uk-position-center">
    <div class="uk-flex-auto col" style="margin-top: 10px;">
        <div class="uk-flex uk-flex-column">
            <div class="introtekst uk-card uk-card-default uk-margin-small uk-padding-small">
                <p>Welcome to our <b>Serendipity routing</b> application! Our app uses the power of <b>linked data</b>
                    to make
                    your tour in the city of <b>Ghent</b> even more exciting. Simply enter your desired location in the
                    search field and new places or attractions on your route, that you might not have discovered
                    otherwise
                    will be presented to you. With our app, you'll never miss out on the hidden gems that make every
                    trip unforgettable.
            </div>

            <div class="uk-card uk-card-default uk-margin-small uk-padding-small">
                <div class="option-header">
                    <strong>Search place</strong>
                </div>
                <div>
                    <div class="textcontainer">
                        <p-autoComplete  [(ngModel)]="text" [suggestions]="results"></p-autoComplete>
                    </div>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-margin-small uk-padding-small">
                <div class="option-header">
                    <strong>Deviation from fastest track</strong>
                </div>
                <div>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="200" value="100" class="slider" id="shopSlider">
                        <div id="shopText">
                            Medium
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-margin-small uk-padding-small">
                <div class="option-header">
                    <strong>Similarity to search place</strong>
                </div>
                <div>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="200" value="100" class="slider" id="treeSlider">
                        <div id="treeText">
                            Medium
                        </div>
                    </div>
                </div>
            </div>
            <button class="uk-button uk-button-primary button" id="planButton"> <strong>Plan</strong>
            </button>
        </div>

    </div>
    <div class="uk-card uk-card-default uk-margin-small uk-padding-small" id="map">
        <div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"
            (leafletClick)="mapClicked($event)">
        </div>
    </div>


</div>