<button (click)="changeShowedData('NODE')">NODE TURTLE</button>
<button (click)="changeShowedData('RELATION')">RELATION TURTLE</button>
<button (click)="changeShowedData('WAY')">WAY TURTLE</button>
<button (click)="changeShowedData('categorical_similarities')">CATEGORICAL TURTLE</button>
<button (click)="changeShowedData('osm')">OSM data</button>
<button (click)="changeShowedData('dataCategories')">Data categories</button>
<button (click)="copyMessage()" value="click to copy">Copy data</button>
<p style="white-space: pre-wrap">{{this.toonDezeData}}</p>