<div class="sliders">
    Go to:
    <p-autoComplete [(ngModel)]="this.destination" (ngModelChange)="this.changeLocation( 3.7212597,51.0569223);"
        [suggestions]="this.filteredDataSearchBox" (completeMethod)="filterData($event)" field="schema:name"
        [dropdown]="true" [forceSelection]="true" appendTo="body">
        <ng-template let-item pTemplate="item">
            <div class="item">
                <div>{{item['schema:name']}}</div>
                <div style="color:'grey';font-size: 14px;">
                    <i *ngIf="item['schema:keyword'] && item['schema:keyword']['@list']">
                        {{item['schema:keyword']['@list'].toString().replaceAll(",", ", ")}}
                    </i>
                </div>
            </div>
        </ng-template>
    </p-autoComplete>
    <app-triangle (distanceMouseUpEventEmitter)="handleTriangleChange($event)"
        (distanceChangingEventEmitter)="handleTriangleChangingValuesChange($event)"></app-triangle>

    <div class="triangle-visualisation">
        <app-triangle-slider-visualisation [title]="'Similarity destination & suggested locations'" [color]="'orange'"
            [value]="this.changingFactorValues['value1']"></app-triangle-slider-visualisation>
    </div>
    <div class="triangle-visualisation">
        <app-triangle-slider-visualisation [title]="'Importance of distance to walk'" [color]="'green'"
            [value]="this.changingFactorValues['value2']"></app-triangle-slider-visualisation>
    </div>
    <div class="triangle-visualisation">
        <app-triangle-slider-visualisation [title]="'Level of randomness'" [color]="'blue'"
            [value]="this.changingFactorValues['value3']"></app-triangle-slider-visualisation>
    </div>
</div>
<div class="container">
    <!--<div #container class="graafContainer">
        <p *ngIf="!loaded" style="text-align:center;">Loading data...</p>
    </div>!-->
    <p class="introText">Welcome to this <b>serendipous routeplanning application</b>. In the search field, you can
        enter a
        destination, and
        additional parameters can be set using the red ball within the triangle. Subsequently, the route will be
        displayed, indicating the locations marked by <b>red dots</b>, while the gray dots serve as reference points for
        the red ones. At the right side of the page, a <b>list of the locations</b> to visit and possibly a
        corresponding
        image can also be found.
        <b>Enjoy your exploration.</b>
    </p>
    <div class="userGraafEnKompas">
        <img src="../../assets/images/kompas.jpg" />
        <p class="status">{{status}}</p>
        <div #containerForUser class="graafContainer">
        </div>
    </div>
    <ol class="lijst">
        <ng-container *ngFor="let item of this.calculatedWayToShow; let i=index">
            <li>{{item['schema:name']}} <span
                    *ngIf="item['schema:keyword']['@list'] && item['schema:keyword']['@list'].length !=0">({{item['schema:keyword']['@list'].toString().replaceAll(",",",
                    ")}})</span>
                <img *ngIf="item['imagelink']" src="{{item['imagelink']}}" class="wikidataImage" />
            </li>
        </ng-container>
    </ol>
    <p class="outro">This application was developed as part of <b>Lucas Vermeulen</b>'s master's thesis. It is licensed
        under
        the MIT license. The
        data is extracted from © OpenStreetMap and made available under the Open Database License.</p>
</div>