.sliders {
    width: 30vw;
    margin: 20px;
    float: left;
    min-width: 320px;

    //noselectable
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

}

.container {
    float: right;
}

.graafContainer {
    width: 100%;
    height: 400px;
}

.triangle-visualisation {
    width: 100%;
}

.userGraafEnKompas {
    border: 1px solid black;
    margin: 20px;
    width: 64vw;
    overflow-wrap: break-word;

    img {
        margin: 5px;
    }

    .wayList {
        overflow-wrap: break-word;
        width: 100px !important;
    }
}

p {
    //margin-top: 15px;
}

* {
    border: 1px solid red
}

.wikidataImage {
    width: 150px;
    display: block;
}