.sliders {
    width: 30vw;
    margin: 20px;
    float: left;
}

.container {
    float: right;
}

.graafContainer {
    width: 55vw;
    height: 400px;
}

.userGraafEnKompas {
    border: 1px solid black;
    margin: 20px;

    img {
        margin: 5px;
    }
}

p {
    //margin-top: 15px;
}

* {
    //border: 1px solid red
}