<div class="sliders">
    Go to:
    <p-autoComplete [(ngModel)]="this.destination"
        (ngModelChange)="this.updateGraphForDestinationChange(3.7197324, 51.0569223);"
        [suggestions]="this.filteredDataSearchBox" (completeMethod)="filterData($event)" field="schema:name"
        [dropdown]="true" [forceSelection]="true">
        <ng-template let-item pTemplate="item">
            <div class="item">
                <div>{{item['schema:name']}}</div>
                <div style="color:'grey';font-size: 14px;">
                    <i *ngIf="item['schema:keyword'] && item['schema:keyword']['@list']">
                        {{item['schema:keyword']['@list'].toString().replaceAll(",", ", ")}}
                    </i>
                </div>
            </div>
        </ng-template>
    </p-autoComplete>
    <app-triangle (distanceMouseUpEventEmitter)="handleTriangleChange($event)"
        (distanceChangingEventEmitter)="handleTriangleChangingValuesChange($event)"></app-triangle>

    <div class="triangle-visualisation">
        <app-triangle-slider-visualisation [title]="'Similarity level'" [color]="'orange'"
            [value]="this.changingFactorValues['value1']"></app-triangle-slider-visualisation>
    </div>
    <div class="triangle-visualisation">
        <app-triangle-slider-visualisation [title]="'Less walking'" [color]="'green'"
            [value]="this.changingFactorValues['value2']"></app-triangle-slider-visualisation>
    </div>
    <div class="triangle-visualisation">
        <app-triangle-slider-visualisation [title]="'Level of randomness'" [color]="'blue'"
            [value]="this.changingFactorValues['value3']"></app-triangle-slider-visualisation>
    </div>
</div>
<div class="container">
    <!--<div #container class="graafContainer">
        <p *ngIf="!loaded" style="text-align:center;">Loading data...</p>
    </div>!-->
    <div class="userGraafEnKompas">
        <img src="../../assets/images/kompas.jpg" width="75px" />
        <div #containerForUser class="graafContainer">
            <p *ngIf="!loaded" style="text-align:center;">Loading data...</p>
        </div>
    </div>
    <ol>
        <ng-container *ngFor="let item of this.calculatedWayToShow; let i=index">
            <li>{{item['schema:name']}} <span
                    *ngIf="item['schema:keyword']['@list'] && item['schema:keyword']['@list'].length !=0">({{item['schema:keyword']['@list'].toString().replaceAll(",",",
                    ")}})</span>
                <img *ngIf="item['imagelink']" src="{{item['imagelink']}}" class="wikidataImage" />
            </li>
        </ng-container>
    </ol>
</div>